<!DOCTYPE html>
<html lang="en">

<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <link rel="stylesheet" href="/stylesheets/style.css">
     <title>Air_Shops</title>
</head>

<body>
     <%-include ../layout%>
          <div class="container">
               <div class="messages offset-lg-4 col-lg-4 my-4">
                    <%- messages() %>
               </div>
               <div class="row">
                    <!--* sidebar  ------------------>
                    <%-include ../sidebar%>
                    <div class="col-lg-9">
                         <div class="text-center my-4">
                              <h3><strong>แบบฟอร์มเพิ่มสินค้า</strong></h3>
                         </div>
                         <div class="errors">
                              <%if(locals.errors){%>
                                   <ul class="alert alert-danger">
                                        <%Object.values(errors).forEach(error=>{%>
                                             <li class="mx-2"><%=error.msg%></li>
                                        <%})%>
                                   </ul>
                              <%}%>
                         </div>
                         <!--*---------------form--------->
                         <form action="/admins/products/add" method="post" >
                              <div class="form-group">
                                   <label><strong>ชื่อสินค้า</strong></label>
                                   <input type="text" name="name" class="form-control">
                              </div>
                              <div class="form-group">
                                   <label><strong>รายละเอียด</strong></label>
                                   <textarea name="description"  cols="80" rows="4" class="form-control"></textarea>
                              </div>
                              <div class="form-group">
                                   <label><strong>ราคา</strong></label>
                                   <input type="number" name="price" class="form-control">
                              </div>
                              <div class="form-group">
                                   <label><strong>หมวดหมู่สินค้า</strong></label>
                                   <select name="category" class="form-control">
                                        <%categories.forEach(category=>{%>
                                        <option value="<%=category.name%>"><%=category.name%></option>
                                        <%})%>
                                   </select>
                              </div>
                              <div class="form-group">
                                   <label><strong>ภาพสินค้า</strong></label>
                                   <input type="url" name="img" class="form-control" placeholder="URL....">
                              </div>
                              <div class="form-group text-center">
                                   <input type="submit" value="บันทึกสินค้า" class="btn btn-outline-primary">
                              </div>
                         </form>
                           

                         
                    </div>

               </div>
          </div>
         
</body>

</html>